* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.row:after, .menu:after { 
	content: "";
	clear: both;
	display: block;
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}

.col-md-9 {
	width: 75%;
}

[class*="col-"] {
	float: left;
}

.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}

.logo {
	margin-top: 8px;
}

.menu > li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8; 
}

.menu > li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu > li > a {
	text-align: center;	
}

.menu > li > a, .submenu > li > a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	font-size: 21px;
	color: #2c71b8;
	font-weight: 300;
}

.menu > li:hover > a {
	color: #fff;
	background-color: #2c71b8;
}

.search form {
	width: 190px;
	height: 40px;
	border: 1px solid #2c71b8;
	margin: 5px 0 0 30px;
}

.search input {
	border: none;
	background-color: transparent;
	width: 150px;
	height: 40px;	
	padding-left: 30px;
	outline: none;
	position: absolute;
	font-size: 21px;
	color: #2c71b8;
}

::placeholder {
	color: #2c71b8;
	font-size: 21px;
	padding-bottom:10px;
}

.search button {
	border: none;
	background-color: #2c71b8;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	margin-top: 4px;
	position: relative;
	left: 155px;
}

.cart {
	position: relative;
	background-color: #fff;
	margin: 5px 0 0 30px;
}

.cart a {
	display: block;
	width: 40px;
	height: 40px;
}

.cart img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.numara {
	background-color: #2c71b8;
	color: #fff;
	font-family: 'Roboto';
	font-size: 12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: -10px;
	left: -10px;
}

.submenu {
	display: none;
	z-index: 10;
}

.menu > li:hover .submenu {
	display: block;
	position: absolute;
	left: 146px;
}

.menu {
	position: relative;
}

.submenu > li > a {
	width: 293px;
	padding-left: 20px;
	color: #fff;
}

.submenu > li {
	background-color: #2c71b8;
}

.submenu > li:hover {
	background-color: #fff;
}

.submenu a:hover {
	color: #2c71b8;
}

h1 { 
	font-size: 100px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 5;
}


.filtre {
	border-right: 1px solid #fff;
	width: 100%;
	height: 841px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 30px;
}

h4 {
	text-transform: uppercase;
	color: #fff;
	font-size: 21px;
	margin: 0 0 20px 0;
}

p {
	font-size: 21px;
	font-weight: 300;
	color: #fff;
}

.head {
	width: 100%;
	padding: 30px 0 0 30px;
	position: relative;
}

.head > a {
	font-size: 14px;
	font-weight: 300;
	color: #acc1dd;
	text-decoration: none;
	margin-bottom: 20px;
}

span {
	font-size: 14px;
	font-weight: 300;
	color: #acc1dd;
	text-decoration: underline;
}

h2 {
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	margin: 10px 0 20px 0;
}

h5 {
	font-size: 21px;
	font-weight: 300;
	color: #2c71b8;
}

.col-md-33 {
	width: 33.33%;
}

.ekran, .tv, .player, .laptop, .saat, .tablet, .telefon {
	height: 650px;
	border: 1px solid #fff;
	margin: 30px 0 0 30px;
	background-color: rgba(44, 113, 184, 0.75);
}

.product {
	width: 100%;
	height: 180px;
	border-bottom: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.75);
	position: relative;
}

.product img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.yazi {
	padding: 15px;
}

.kutu {
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	background-image: url(images/frame.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 5px;
	right: 5px;
}

.kalp {
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	background-image: url(images/heart.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 40px;
	right: 5px;
}

.kutu:hover {
	background-image: url(images/hframe.png);
	background-color: #2c71b8;
}

.kalp:hover {
	background-image: url(images/hheart.png);
	background-color: #2c71b8;
}

h3 {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.yazi h4 {
	display: inline-block;
}

.yazi p {
	display: inline-block;
	margin: 20px 0 15px 0;
}

h4 > span {
	font-size: 21px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	text-transform: none;
}

h2 > span {
	font-size: 21px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	vertical-align: 14px; 
	font-size: 28px;
	font-weight: 700;
}

.yazi h2 {
	text-align: center;
}

.detay, .addtocart {
	width: 210px;
	height: 50px;
	border: 1px solid #fff;
	line-height: 50px;
	text-align: center;
	margin: 15px auto;
}

.addtocart {
	background-color: rgba(255, 255, 255, 0.2);
}

h6 {
	font-size: 36px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin: 40px 0 90px 0;
}